<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Venta de vehículos</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/webAutos.css' %}">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.1/flexboxgrid.min.css" type="text/css" >
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    
    <script> 
        $(document).ready(function(){
            $("#flip").click(function(){
                $("#panel").slideToggle("slow");
            });
        });
        </script>
    <script> 
        $(document).ready(function(){
            $("#foot").click(function(){
                $("#footer").slideToggle("slow");
            });
        });
        </script>
</head>
<body>
<header>
        <nav>
            <div id="arriba"><h1 id="Log">Venta de Vehículos</h1></div>
        </nav>
    </header>
        <ul>
            <li><a class="active" href="#home">Inicio</a></li>
            <li id="foot"><a href="#footer">¿Quiénes somos?</a></li>
            <li id="flip"><a>Contacto</a></div>
            <br>
            <div id="panel">
                    <p>Correo electronico: AutosLocos@gmail.com</p>
                    <p>Cel: 9 123 654 789</p>
                    <p>Dirección: Los Aromos 6098-6000</p>
                </div>
            </li>
            
          </ul> 


    
<hr> <br>
<center>
    <p class="shadowtext">Encuentre su auto indicado</p>
</center>

    

<br>
    <section>
    {% for post in posts %}

    <div><h1><a>{{ post.titulo }}</a></h1></div>
    <div>
        <p>Marca: {{ post.Marca}}</p>
        <p>Modelo: {{ post.Modelo}}</p>
        <p>Año del automovil: {{ post.Año_automovil}}</p>
        <p>Color: {{ post.Color}}</p>
        <p>Numero de puertas: {{ post.Numero_puertas}}</p>
        <p>Descripcion: {{ post.Descripcion}}</p>
        <p>Fecha de publicación: {{ post.Fecha_publicacion }}</p>
        <p>Precio: {{ post.Precio|linebreaksbr }}</p>
        
    <!--<button class="button">Cotizar precio</button>-->
         {% endfor %}
    </div>
</section>
<aside>

</aside>

<div class="row info">
        <div class="texto_derecha col-lg-6">
        
            <br><br>
        </div>
        <div class="texto_izquierda col-lg-6">
            <br><br>
            <h1>Busca tu auto de forma rápida y eficiente</h1>
                       <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSNV-_85lLB-utReC4Ns9iVkBZWEUQIXiiUsR6YgbKfYtOeRQnU" width="350" height="170">
            <p>A veces encontrar un auto puede resultarte un tanto difícil, ya sea por los precios
            u otros factores que pueden estar involucrados.
            Acá se te resulta fácil y eso es sencillo, 
            sin complicaciones, sin desgaste, sin problemas.
             Todos buscamos hacernos la vida más fácil y
             con menos obstáculos.</p>
        </div>
    </div>
<div id="footer">
        <p>Quienes somos</p>
    <p>sitio de venta de vehículos más visitado de Chile, 
        que comenzó a operar en Noviembre del 2018.
        Durante los primeros días, los socios del sitio se dedicaron a generar una plataforma tecnológica sólida, así como los cientos y
        posteriormente miles de visitas que comenzaron a tener diariamente.</p>
        <p>Con constancia y perseverancia, las automotoras creyeron en este proyecto, colocando sus vehículos a la venta también a través del portal, 
            lo cual le daría el impulso al sitio web para hacer crecer el equipo de trabajo y desarrollar una plataforma cada vez más robusta.</p>
</div>
<br><br>



</body>
</html>